

<div class="container">
 <div class="row">

  <% @exercise.each_with_index do |each, i| %>


    <div class="col-md-4">
      <div class=" thumbnail">
        <img src="<%=each[:image]%>" alt="<%=each[:exercise]%>" style="width: 200px; height=100px;" class="img-thumbnail">
          <div class="caption">
            <h5><a href="/details?id=<%= i+1 %>"><%=each[:exercise]%></a></h5>
                  <!-- <p><%=each[:description]%></p>
                    <p><b>TIP:</b> <%=each[:tip]%></p> -->
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Reps <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
                  <li>11</li>
                  <li>12</li>
                  <li>13</li>
                  <li>14</li>
                  <li>15</li>
                </ul>
            </div>
          <p></p>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg">
              <input type="date"></input>
               Date
              </button>
            </div>
        </div>
      </div>
     <p></p>
    </div>

        <% end %>
      </div>
    </div>



