
<!-- <link href="bootstrap.min.css" rel="stylesheet" media="screen"> -->
<!-- <link rel="stylesheet" type="text/css" href="jumbotron-narrow.css"> -->
<!-- $('.dropdown-toggle').dropdown() -->

 <!-- <link rel="stylesheet" type="text/css" href="s4h.css"> -->

<div class="container">
      <h1>STRENGTH</h1> -->

    <% item_number = 0 %>

  <% @exercise.each do |each| %>

 <div class="row">
    <div class="col-md-4">
      <div class=" thumbnail">
        <img src="<%=each[:image]%>" alt="<%=each[:exercise]%>" style="width: 100px; height=50px;" class="img-thumbnail">
      <div class="caption">
        <h3><a href="/details?id=<%= item_number %>">
      <%=each[:exercise]%></a></h3>
      <p><%=each[:description]%></p>
        <p><b>TIP:</b> <%=each[:tip]%></p>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Reps <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>

              <li class="divider"></li>
              <li>15</li>
            </ul>
          </div>
          <p></p>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-lg">
            <input type="date"></input>
             Date
            </button>
          </div>
      </div>
         <% item_number = item_number + 1 %>
        <% end %>
      </div>
    </div>



